.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-h);
  display: flex;
  align-items: center;
  background-color: var(--cl-primary);
  color: var(--cl-inverted);
  font-weight: 600;
}

.toolbar img {
  margin: 0 var(--gutter);
}

.toolbar a {
  color: var(--cl-inverted);
  margin: var(--spacer);
}
.toolbar a.navActive {
  border-color: var(--cl-inverted);
}

.toolbar .spacer {
  flex: 1;
}

.banner {
  padding: var(--spacer);
  background: var(--cl-primary-dark);
  color: var(--cl-inverted);
  text-align: center;
  font-weight: var(--font-weight-fat);
}

main {
  margin-top: var(--header-h);
}

.content {
  display: flex;
  margin: 0 auto;
  padding: var(--gutter);
  max-width: var(--max-screen-w);
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 2px solid var(--cl-primary);
  margin: var(--gutter) auto;
  padding: var(--gutter);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, .35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#routeImage {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
  width: 100%;

  fill: var(--cl-back-image);
}

@media screen and (max-width: 575px) {
  svg#routeImage {
    display: none;
    visibility: hidden;
  }
}

