.user-list {
  margin-right: var(--gutter);
  padding: var(--spacer);
  background: var(--cl-primary-light);
  border-radius: var(--radius);
}

.user-list, .user-area {
  flex: 1;
}

app-media {
  min-width: 25rem;
}
