html {
  /* variables */

  --font-size: 14px;
  --font-weight-normal: 400;
  --font-weight-prominent: 600;
  --font-weight-fat: 900;

  --spacer: .6rem;
  --gutter: 1.2rem;
  --max-screen-w: 960px;
  --header-h: 4rem;
  --radius: .3rem;
  --card-w: 15rem;
  --card-w-small: 12rem;
  --hover-offset: -.2rem;

  --cl-primary: #53449e;
  --cl-primary-dark: #414181;
  --cl-primary-light: #b99dfa;
  --cl-back-image: #f8f8f8;
  --cl-back-image-dark: #e0e0e0;
  --cl-inverted: #efefef;
  --cl-border: #ccc;
  --cl-shadow: rgba(0, 0, 0, 0.35);

  /* styles */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacer) 0;
}

p {
  margin: 0 0 var(--gutter);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  color: var(--cl-primary);
  text-decoration: none;
}

a:hover {
  color: var(--cl-primary-dark);
}

a.navActive {
  border-bottom: 1px solid var(--cl-primary);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  padding: calc(2 * var(--spacer));
  margin: 0 var(--spacer) var(--gutter);
  background-color: var(--cl-back-image);
  border-radius: var(--radius);
  border: 1px solid var(--cl-border);
  width: auto;
  min-width: var(--card-w);
}
.card.card-small {
  min-width: var(--card-w-small);
}
.card.highlight-card {
  background-color: var(--cl-primary);
  color: var(--cl-inverted);
  font-weight: var(--font-weight-prominent);
  border: none;
}

@media screen and (max-width: 767px) {
  .card-container {
    width: 100%;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

a.card {
  margin: 0;
}
a.card:hover, .card.card-link:hover {
  transform: translateY(var(--hover-offset)) scale(1.05);
  box-shadow: 0 4px 10px var(--cl-shadow);
  cursor: pointer;
}
li + li a.card {
  margin-top: var(--spacer);
}
a.card.navActive {
  border: 1px solid var(--cl-border);
  background-color: var(--cl-primary);
  color: var(--cl-inverted);
}
