<!-- Highlight Card -->
<div class="card-container">
  <div class="card highlight-card card-small">
    <span>Declarative angular routing rocks! 🤘</span>
  </div>
</div>

<!-- Resources -->
<h2>Resources</h2>
<p>Here are some links to help you get started:</p>

<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="https://github.com/brandonroberts/angular-routing">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
    </svg>

    <span>Official repo</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
  </a>
</div>

<!-- Next Steps -->
<h2>Setup</h2>
<p>Follow these simple steps to get started</p>

<input type="hidden" #selection>

<div class="card-container">
  <div class="card card-small card-link" (click)="selection.value = 'installation'" tabindex="0">
    <span><b>1</b> Installation</span>
  </div>

  <div class="card card-small card-link" (click)="selection.value = 'register'" tabindex="0">
    <span><b>2</b> Register RoutingModule</span>
  </div>

  <div class="card card-small card-link" (click)="selection.value = 'features'" tabindex="0">
    <span><b>3</b> Add to feature modules</span>
  </div>

  <div class="card card-small card-link" (click)="selection.value = 'routes'" tabindex="0">
    <span><b>4</b> Add routes</span>
  </div>
</div>

<!-- Terminal -->
<div class="terminal" [ngSwitch]="selection.value">
  <pre *ngSwitchDefault>npm i --save angular-routing</pre>
  <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
  <pre *ngSwitchCase="'register'">import {{ '{' }} RoutingModule } from 'angular-routing';

@NgModule({{ '{' }}
    imports: [
    // ... other imports
    RoutingModule.forRoot()
  ]
})
export class AppModule {{ '{' }}}</pre>
  <pre *ngSwitchCase="'features'">import {{ '{' }} RoutingModule } from 'angular-routing';

@NgModule({{ '{' }}
    imports: [
    // ... other imports
    RoutingModule
  ]
})
export class FeatureModule {{ '{' }}}</pre>
  <pre *ngSwitchCase="'routes'">&lt;router&gt;
  &lt;route path=&quot;/blog&quot; [exact]=&quot;false&quot;&gt;
    &lt;app-blog *routeComponent&gt;&lt;/app-blog&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/posts/:postId&quot;&gt;
    &lt;app-post *routeComponent&gt;&lt;/app-post&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/about&quot;&gt;
    &lt;app-about *routeComponent&gt;&lt;/app-about&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/&quot; redirectTo=&quot;/blog&quot;&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/&quot; [exact]=&quot;false&quot;&gt;
    &lt;app-page-not-found *routeComponent&gt;&lt;/app-page-not-found&gt;
  &lt;/route&gt;
&lt;/router&gt;</pre>
</div>

<!-- Next Steps -->
<h2>Extra</h2>
<p>Head over to <a linkTo="/user">User</a> to see responsive routing</p>
