svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.terminal {
  position: relative;
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 30px;
  margin-top: var(--spacer);
  overflow: hidden;
  background-color: var(--cl-inverted-bg);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--cl-primary-dark);
  color: var(--cl-primary-light);
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--cl-inverted);
  padding: var(--gutter);
  margin: 0;
  overflow: auto;
}
