<!-- Highlight Card -->
<div class="card-container">
  <div class="card highlight-card card-small">
    <span>Declarative angular routing rocks! 🤘</span>
  </div>
</div>

<!-- Resources -->
<h2>Resources</h2>
<p>Here are some links to help you get started:</p>

<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="https://github.com/brandonroberts/angular-routing">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
    </svg>

    <span>Official repo</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
  </a>

<!--  <a class="card" target="_blank" rel="noopener" href="https://reactrouter.com/">-->
<!--    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--      <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>-->
<!--    </svg>-->

<!--    <span>React router</span>-->

<!--    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>-->
<!--    </svg>-->
<!--  </a>-->

<!--  <a class="card" target="_blank" rel="noopener" href="https://www.digitalocean.com/community/tutorials/how-to-set-up-conditional-and-responsive-routing-with-react-router-v4">-->
<!--    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--      <path-->
<!--        d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/>-->
<!--    </svg>-->

<!--    <span>Conditional routes in React Router</span>-->

<!--    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>-->
<!--    </svg>-->
<!--  </a>-->

</div>

<!-- Next Steps -->
<h2>Setup</h2>
<p>Follow these simple steps to get started</p>

<input type="hidden" #selection>

<div class="card-container">
  <div class="card card-small" (click)="selection.value = 'installation'" tabindex="0">
    <span><b>1</b> Installation</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'register'" tabindex="0">
    <span><b>2</b> Register RoutingModule</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'features'" tabindex="0">
    <span><b>3</b> Add to feature modules</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'routes'" tabindex="0">
    <span><b>4</b> Add routes</span>
  </div>
</div>

<!-- Terminal -->
<div class="terminal" [ngSwitch]="selection.value">
  <pre *ngSwitchDefault>npm i --save angular-routing</pre>
  <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
  <pre *ngSwitchCase="'register'">import {{ '{' }} RoutingModule } from 'angular-routing';

@NgModule({{ '{' }}
    imports: [
    // ... other imports
    RoutingModule.forRoot()
  ]
})
export class AppModule {{ '{' }}}</pre>
  <pre *ngSwitchCase="'features'">import {{ '{' }} RoutingModule } from 'angular-routing';

@NgModule({{ '{' }}
    imports: [
    // ... other imports
    RoutingModule
  ]
})
export class FeatureModule {{ '{' }}}</pre>
  <pre *ngSwitchCase="'routes'">&lt;router&gt;
  &lt;route path=&quot;/blog/**&quot;&gt;
    &lt;app-blog *routeComponent&gt;&lt;/app-blog&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/posts/:postId&quot;&gt;
    &lt;app-post *routeComponent&gt;&lt;/app-post&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/about&quot;&gt;
    &lt;app-about *routeComponent&gt;&lt;/app-about&gt;
  &lt;/route&gt;
  &lt;route path=&quot;/&quot; redirectTo=&quot;/blog&quot;&gt;
  &lt;/route&gt;
  &lt;route path=&quot;**&quot;&gt;
    &lt;app-page-not-found *routeComponent&gt;&lt;/app-page-not-found&gt;
  &lt;/route&gt;
&lt;/router&gt;</pre>
</div>

<!-- Next Steps -->
<h2>Extra</h2>
<p>Head over to <a linkTo="/user">User</a> to see responsive routing</p>
